<div class="dashboard_user_detail">
  <div class="dashboard_user_block1">
    <div class="dashboard_user_blockCon">
      <i class="fa fa-user" aria-hidden="true"></i>
      <strong>Welcome:</strong>
      <span id="user_name_section"
        ><span class="skeleton-box" style="width: 200px"></span
      ></span>
    </div>
  </div>
  <div class="dashboard_user_block1">
    <div class="dashboard_user_blockCon">
      <i class="fa fa-sign-in" aria-hidden="true"></i>
      <strong>Last Login:</strong>
      <span id="login_time"
        ><span class="skeleton-box" style="width: 300px"></span
      ></span>
    </div>
  </div>
</div>
