<div class="last_login_wrapper">
    <div class="last_login_sub-title">
      <section class="login_user">
        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
        <h4 style="text-transform: capitalize;"><strong>Welcome: </strong> <span>Arnab Pramanik</span></h4>
      </section>

      <section class="rep_details" >
        <h4><strong>Rep Id:</strong></h4>
        <span style="font-size: 26px;">BP00000026</span>
      </section>
     
      <section class="login_time">
        <i class="fa fa-sign-out" aria-hidden="true"></i>
        <h4><strong>Last Login: </strong> <span>November 8th 2023, 4:59:39 PM</span></h4>
      </section>
    </div>
  </div>
