<div class="header_block_main_wrapper">
  <div class="common_width">
    <div class="header_sub_wrapper">
      <div class="header_logo">
        <a href="/"><img src="https://d37pbainmkhx6o.cloudfront.net/Timothy-Desmond-Nest/Home/timothy_header_block/Timothy_desmond_header_main_logo.webp"></a>
      </div>

      <div class="header_link_block">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/bio">Bio</a></li>
          <li><a href="/purchase">Online Course</a></li>
          <li><a href="/class-summary">Class Summary</a></li>
          <li style="display: none"><a href="/retreat">Retreat</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/free-training">Free Training</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>

      <div class="header_social_icon_login_block">
        <div class="header_login_button_block loginFunction">
          <a class="login_button">Login</a>
          <img
            src="https://d37pbainmkhx6o.cloudfront.net/Timothy-Desmond-Nest/Home/timothy_header_block/Timothy_banner_login_block_img.webp"
          />
        </div>
      </div>
    </div>
  </div>
</div>
