<app-header></app-header>
<div class="changepass_mainwrapper">
  <div class="changepass_subwrapper">
    <div class="changepass_heading">
      <h2>Change Password</h2>
    </div>
    <div class="changepass_formwrapper">
      <form
        class="login_form"
        autocomplete="off"
        name="loginForm"
        [formGroup]="changePassForm"
      >
        <div class="pass_cls">
          <mat-form-field class="login-full-width">
            <input
              matInput
              #oldpass
              [type]="hide ? 'password' : 'text'"
              type="password"
              placeholder="Old Password"
              name="oldpass"
              formControlName="oldpass"
              class="form_wrp-field"
              autocomplete="off"
              required
            />

            <button
              mat-icon-button
              matSuffix
              type="button"
              (click)="handlevisible($event)"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>
          <ng-container
            *ngIf="
              !changePassForm.controls['oldpass'].valid &&
              changePassForm.controls['oldpass'].touched
            "
          >
            <span class="error">Old Password is Required</span>
          </ng-container>
        </div>

        <div class="pass_cls">
          <mat-form-field class="login-full-width">
            <input
              matInput
              #newpass
              [type]="hide1 ? 'password' : 'text'"
              type="password"
              placeholder="New Password"
              name="newpass"
              formControlName="newpass"
              class="form_wrp-field"
              autocomplete="off"
              required
            />

            <button
              mat-icon-button
              matSuffix
              type="button"
              (click)="handlevisible1($event)"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide1"
            >
              <mat-icon>{{ hide1 ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>
          <ng-container
            *ngIf="
              !changePassForm.controls['newpass'].valid &&
              changePassForm.controls['newpass'].touched
            "
          >
            <span class="error">New Password is Required</span>
          </ng-container>
        </div>

        <div class="pass_cls">
          <mat-form-field class="login-full-width">
            <input
              matInput
              #confpass
              [type]="hide2 ? 'password' : 'text'"
              type="password"
              placeholder="Confirm Password"
              name="confpass"
              formControlName="confpass"
              class="form_wrp-field"
              autocomplete="off"
              required
            />

            <button
              mat-icon-button
              matSuffix
              type="button"
              (click)="handlevisible2($event)"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide2"
            >
              <mat-icon>{{ hide2 ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>
          <ng-container
            *ngIf="
              !changePassForm.controls['confpass'].valid &&
              changePassForm.controls['confpass'].touched
            "
          >
            <span class="error">Confirm Password is Required</span>
          </ng-container>
        </div>

        <p class="pass_msg">
          * Password should contain at least 8 characters and max 15 characters
          with one numeric digit, one uppercase letter, one lowercase letter,
          and a special character.
        </p>
      </form>

      <div class="forgetpass_buttonsec">
        <button (click)="goBack()">Go Back</button>
        <button (click)="goToAccount()">My Profile</button>
        <button (click)="changePassword()">Update</button>
      </div>

      <mat-progress-bar
        *ngIf="loader"
        mode="indeterminate"
        class="loader_wrp"
      ></mat-progress-bar>
    </div>
  </div>
</div>
<app-footer></app-footer>
