<app-header></app-header>
<div class="changepass_mainwrapper">
  <div class="changepass_subwrapper">
    <div class="changepass_heading">
      <h2>Change Password</h2>
    </div>
    <div class="changepass_formwrapper">
        <form
          class="login_form"
          autocomplete="off"
          name="loginForm"
          [formGroup]="changePassForm"
        >
        <div class="pass_cls">
            <mat-form-field class="login-full-width">
              <input
                matInput
                #oldpass
                [type]="hide ? 'password' : 'text'"
                type="password"
                placeholder="Old Password"
                name="oldpass"
                formControlName="oldpass"
                required
                class="form_wrp-field"
                autocomplete="off"
                required
                (keydown)="handleInputChange($event)"
              />

              <button
                mat-icon-button
                matSuffix
                type="button"
                (click)="handlevisibl($event)"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
              >
                <mat-icon>{{
                  hide ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
            </mat-form-field>
            <!-- <mat-error>Password is required</mat-error> -->
          </div>
          

          <div class="pass_cls">
            <mat-form-field class="login-full-width">
              <input
                matInput
                #newpass
                [type]="hide ? 'password' : 'text'"
                type="password"
                placeholder="New Password"
                name="newpass"
                formControlName="newpass"
                required
                class="form_wrp-field"
                autocomplete="off"
                required
                (keydown)="handleInputChange($event)"
              />

              <button
                mat-icon-button
                matSuffix
                type="button"
                (click)="handlevisibl($event)"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
              >
                <mat-icon>{{
                  hide ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
            </mat-form-field>
            <!-- <mat-error>Password is required</mat-error> -->
          </div>

          <div class="pass_cls">
            <mat-form-field class="login-full-width">
              <input
                matInput
                #confpass
                [type]="hide ? 'password' : 'text'"
                type="password"
                placeholder="Confirm Password"
                name="confpass"
                formControlName="confpass"
                required
                class="form_wrp-field"
                autocomplete="off"
                required
                (keydown)="handleInputChange($event)"
              />

              <button
                mat-icon-button
                matSuffix
                type="button"
                (click)="handlevisibl($event)"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
              >
                <mat-icon>{{
                  hide ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
            </mat-form-field>
            <!-- <mat-error>Password is required</mat-error> -->
          </div>
          
          <p class="pass_msg">
            * Password should contain at least 8 characters and max 15 characters with one numeric digit, one uppercase letter, one lowercase letter, and a special character.
          </p>
          
        </form>

        <div class="forgetpass_buttonsec">
          <button>Go Back</button>
          <button>My Profile</button>
          <button>Update</button>
        </div>
        
        <mat-progress-bar
          *ngIf="loader"
          mode="indeterminate"
          class="loader_wrp"
        ></mat-progress-bar>
      </div>
    </div>
  </div>
<app-footer></app-footer>