.footer-block {
    text-align: center;
    padding: 15px 20px;
    background: #1c201f;
    
}
.footer-block p{
    margin: 0;
    font-size: 17px;
    color: #566360;
}





@media screen and (max-width : 760px){

    .submenuUL{position: inherit;  background: var(--read04);}

    .BackendHeaderLink input[type=checkbox]:checked ~ #menu{
        display: block;
    }
    
    .BackendHeaderLink{padding: 0; border-bottom: solid 1px #fff;}
    .BackendHeaderLink ul li{margin: 0;   text-align: center; border-top: solid 1px var(--white);}
    .BackendHeaderLink ul li a{width: auto;}
 
	.BackendHeaderLink #menu {
		position: static;
		display: none;
	}
 
	.BackendHeaderLink li {
		margin-bottom: 1px;
	} 

    .BackendHeaderLink ul li, .BackendHeaderLink li a {
		width: 100%;
	}
	 
    .BackendHeaderLink .show-menu {
		display:block;
	}
}
  