body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* ------------------------- Login scc start ------------------- */
.login_mainwrapper {
  background-image: url(https://d37pbainmkhx6o.cloudfront.net/Timothy-Desmond-Nest/login/login_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_subwrapper {
  background: #ffffff41;
  padding: 5px;
  border-radius: 8px;
  width: 500px;
  box-shadow: 0px 0px 25px #a75f4f;
  overflow: hidden;
  position: relative;
}
.login_formwrapper {
  background: #271d28;
  position: relative;
  z-index: 9;
  padding: 30px;
  border-radius: 8px;
}
.login_subwrapper::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: -50%;
  left: -50%;
  background: linear-gradient(0deg, transparent, #f79a08, #f79a08);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}

.login_subwrapper::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: -50%;
  left: -50%;
  background: linear-gradient(0deg, transparent, #f79a08, #f79a08);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: 3s;
}

@keyframes animate {
  
    0%{

        transform: rotate(0deg);
    }
    100%{

        transform: rotate(360deg);
    }
    
 } 
.login-logowrapper {
    display: block;
    background: #cf784f9e;
    height: 110px;
    width: 110px;
    padding: 15px;
    margin: 0 auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px #6c361e82;
    border: 8px solid #ffd9c929;
        margin-bottom: 20px;
}

.login_form .login-full-width {
    display: block;
    width: 100%;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 #0a3f5a;
    font-size: 22px
}

.email_cls {
    position: relative
}

.email_cls .mdc-text-field {
    border-radius: 8px;
}

.email_cls .form_wrp-field {
    font-size: 17px !important
}

a {
    color: inherit;
    text-decoration: none;
    font-weight: 500
}

.email_cls .iconwrapper {
    position: absolute;
    z-index: 99;
    right: 12px;
    top: 17px
}

.email_cls .iconwrapper i {
    font-size: 25px
}

.pass_cls .form_wrp-field {
    font-size: 17px !important
}

.pass_cls .mdc-text-field {
    border-radius: 8px;
}

.login_button {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    border: none;
    font-size: 24px;
    font-weight: 900;
    color: #000;
    background: linear-gradient(180deg, rgba(255, 240, 1, 1) 0%, rgba(231, 190, 0, 1) 100%);
    border-radius: 10px;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    text-shadow: 1px 1px 0px #f7e057;
    width: 100%;
}
.login_link {
    color: #787878;
    margin-bottom: 20px;
    display: block;
    text-decoration: none;
    font-size: 21px;
}
