/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body,
html {
    height: 100%
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif
}

.loader_wrp {
    width: calc(100% - 30px);
    margin-top: 20px !important;
    margin: 0 auto
}

/* .login_body {
    width: 100%;
    background-image: url(https://d37pbainmkhx6o.cloudfront.net/beto_paredes_nest/login/login_bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

.login_main {
    margin-top: 0px
}

.login_logo {
    margin-top: 17px;
    text-align: center;
}

.login_logo img {
    width: 100%;
    height: 100%;
    margin: -16px auto;
    display: block
}

.login_form {
    background-color: #044875;
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
    margin-top: 96px;
    width: auto;
    height: 50rem;
    box-shadow: -1px 0 4px 0 #01e7fd, 3px 4px 8px 0 #033251 inset;
    background-image: url(https://d37pbainmkhx6o.cloudfront.net/beto_paredes_nest/login/form_background.webp);
    background-repeat: no-repeat;
    padding: 2rem;
    position: relative;
}

.login_form .form_wrp {
    padding: 0 13%;
    padding-top: 40px
    padding: 50px 80px 40px 80px;
}

.login_form p {
    font-size: 28px;
    color: #fff;
    text-transform: uppercase;
    line-height: 35px
}

.login_form .login-full-width {
    display: block;
    width: 100%;
    border: none;
    border-radius: 10px;
    margin-top: 38px;
    box-shadow: 0 4px 8px 0 #0a3f5a;
    font-size: 22px
}

.email_cls {
    position: relative
}

.email_cls .mdc-text-field {
    border-radius: 8px;
}

.email_cls .form_wrp-field {
    font-size: 17px !important
}

.pass_cls .form_wrp-field {
    font-size: 17px !important
}

.pass_cls .mdc-text-field {
    border-radius: 8px;
}

.submit {
    font-size: 30px !important;
    width: 50%;
    border-radius: 35px;
    font-weight: 600;
    background: linear-gradient(180deg, rgba(255, 126, 30, 1) 20%, rgba(250, 93, 63, 1) 74%, rgba(246, 67, 88, 1) 100%);
    border: 6px solid #6d92a8;
    color: #fff;
    margin-top: 30px;
    cursor: pointer;
    padding: 7px;
    margin-bottom: 40px;
}

.loader_wrp {
    width: calc(100% - 30px);
    margin-top: 20px !important;
    margin: 0 auto
}

.login_form h1 {
    font-size: 20px;
    color: #fff;
    margin: 0 auto;
    margin-top: 19px;
    cursor: pointer;
    width: fit-content
}

.main_wrp .text_wrp .textfirld_wrp .mat-mdc-text-field-wrapper {
    background-color: #fff;
}

.email_cls .iconwrapper {
    position: absolute;
    z-index: 99;
    right: 12px;
    top: 17px
} */

/* << ------------------ Log In Form Field CSS by Sanket ---------------------- >> */

.email_cls .mdc-text-field, .pass_cls .mdc-text-field {
    border-radius: 8px;
    outline: none;
    border: 1px solid #6868685c;
    background: #44444454 !important;
    box-shadow: 2px 2px 4px #1a1a1a;
}
.mat-mdc-form-field-focus-overlay {
    display: none !important;
}
.mat-mdc-form-field-flex {
    color: #020202;
}
.login_formwrapper .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
    padding-top: 10px;
    padding-bottom: 12px;
}
.email_cls .login-full-width .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
    padding-right: 30px;
}
.mat-mdc-form-field-subscript-wrapper {
    display: none;
}
.login_formwrapper .login-full-width .mdc-text-field .mdc-line-ripple {display: none;}
.login_formwrapper input, .login_formwrapper input::placeholder {
    color: #968e97 !important;
    caret-color: #fff !important;
}
.login_formwrapper input:-webkit-autofill,
.login_formwrapper input:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s !important;
}
.login_formwrapper .mat-mdc-form-field .mat-mdc-form-field-infix {
    min-height: unset;
}   

.login_formwrapper .email_cls .iconwrapper i::before, .login_formwrapper .pass_cls .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mdc-icon-button mat-icon {
    color: #968e97;
} 

.loader_wrp {
    width: 100%;
    margin-top: 20px !important;
    margin: 0 auto;
    background-color: #ddd;
    color: #7f2e0a;
  }
.loader_wrp .mdc-linear-progress__bar-inner {
    border-color: inherit !important;
}

/* << ------------------ Log In Form Field CSS by Sanket ---------------------- >> */


/* << ------------------ Modal CSS by Sanket ---------------------- >> */

.custom-modalbox {
    width: min(90%, 800px) !important;
    max-width: inherit !important;
}
.mat-mdc-dialog-container .mdc-dialog__surface {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    border: 8px solid #ad4c1e;
}
.custom-modalbox .uniqueurl_modal .sub-title h2 {
    margin: 0;
    text-align: center;
    background: #ad4c1e;
    color: #fff;
    padding: 10px 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}


.uniqueurl_modal .sub_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.uniqueurl_modal .sub_header p {
    font-size: 18px;
    margin: 10px 0;
    text-transform: lowercase;
    word-break: break-word;
}

.uniqueurl_modal .sub_wrpper h1 {
    font-size: 20px;
    line-height: 29px;
    font-weight: 500;
    padding: 10px 0;
    color: red;
}

.uniqueurl_modal .sub_wrpper h2 {
    font-size: 15px;
    line-height: 20px;
    margin-top: 16px;
    margin-bottom: 0px;
}

.uniqueurl_modal .sub_wrpper h3 {
    font-size: 20px;
    line-height: 25px;
    font-weight: 600;
    color: red;
    margin-top: 11px;
}

.uniqueurl_modal .context {
    margin-left: 20px;
    padding: 0;
}

.uniqueurl_modal .context li {
    font-size: 18px;
    line-height: 24px;
    text-transform: lowercase;
    word-break: break-word;
}

.uniqueurl_modal .submited_wrp {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}

/* .main_wrp .mat-mdc-dialog-container .mdc-dialog__surface{padding:0px !important;} */
.uniqueurl_modal .submited {
    font-size: 22px !important;
    border-radius: 13px;
    font-weight: 500;
    background: linear-gradient(180deg, rgba(255, 126, 30, 1) 20%, rgba(250, 93, 63, 1) 74%, rgba(246, 67, 88, 1) 100%);
    color: #fff;
    cursor: pointer;
    padding: 8px 16px;
}

.error {
    color: #FF7E1E;;
    display: block;
    text-align: left;
    padding-left: 5px;
    margin-top: 6px;
}

.body_wrp {
    padding: 13px;
}

.button_wrp {
    background: var(--orange-gradient);
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 0 auto;
    min-width: 150px;
    padding: 14px 10px;
    text-transform: inherit !important;
    border-radius: 9px;
    line-height: 22px;
    letter-spacing: 0.7px;
    cursor: pointer;
}

/* << ------------------ Modal CSS by Sanket ---------------------- >> */


.adminlisttable_v1 .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label,
.ng-trigger-transformPanel .mat-mdc-option .mdc-list-item__primary-text {
    color: #686b71
}

.adminlisttable_v2 .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mdc-text-field__input,
.adminlisttable_v2 .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: #686b71
}

:root {
    /* css w==%  valu   */
    --widthFluid: 100%;
    --widthCon: 96%;
    /* css color  valu   */
    --white: #fff;
    --white02: #605f5f;
    --white03: #e9eaec;
    --black: #000;
    --black2: #191e29;
    --black08: #121212;
    --blue1: #1a3a6e;
    --read01: #624f4d;
    --read02: #8f1104;
    --read03: #27130b;
    --read04: #47271b;
    --read05: #7f2e0a;
    --read06: #7a1f0e;
    --read07: #852e0d;
    --yellow1: #ffde00;
    --green1: #00ee01;
    --orange1: #ff7e42;

    /* css font weight  valu   */
    --weight900: 900;
    --weight700: 700;
    --weight400: 400;
    /* css  display detail   */
    --forflex: flex;
    /* css  display font   */
    --font15: 15px;
    --font16: 16px;
    --font18: 18px;
    --font20: 20px;
    --font24: 24px;
    --font40: 40px;
    --font60: 60px;

    /* css  display padding and margin   */
    --pxvalu45: 45px;
    --pxvalu30: 30px;
    --pxvalu25: 25px;
    --pxvalu15: 15px;
    --pxvalu10: 10px;
    --pxvalu8: 8px;
    --pxvalu5: 5px;
    --pxvalu0: 0px;

    /* css  image   */

    --block1Img: url(https://d37pbainmkhx6o.cloudfront.net/Timothy-Desmond-Nest/dashboard/user_dashboard_banner_BG.webp);
    --block1Img2: url(https://d37pbainmkhx6o.cloudfront.net/Timothy-Desmond-Nest/dashboard/user_dashboard_con_BG.webp);

}

/* /////////// Top header */
.top_header_subwrapper {
    display: flex;
    justify-content: space-between;
}

.top_header {
    /* background: rgb(56,60,84);
    background: linear-gradient(260deg, rgba(56,60,84,1) 0%, rgba(9,12,32,1) 100%); */
    background-color: var(--read03);
}

.top_header_lefticon {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgb(232, 232, 232);
    background: linear-gradient(180deg, rgba(232, 232, 232, 1) 0%, rgba(116, 116, 116, 1) 100%);
    color: #3d0716;
}


.top_header_textwrapper .top_header_righticon .fa-angle-down {
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgb(232, 232, 232);
    background: linear-gradient(180deg, rgba(232, 232, 232, 1) 0%, rgba(116, 116, 116, 1) 100%);
    color: #3d0716;
    font-size: 26px;
    cursor: pointer;
}

.top_header_textwrapper p {
    color: #c3c3c3;
    margin: 0 10px;
}

.top_header_textwrapper {
    display: flex;
    align-items: center;
}

.top_header_subwrapper {
    display: flex;
    justify-content: space-between;
}

.top_header_righticon {
    position: relative;
}

.top_header_righticon ul {
    list-style: none;
    position: absolute;
    right: 0;
    background: #0c1028;
    padding: 11px;
    min-width: 170px;
    border-radius: 5px;
    top: 20px;
    display: none;
    z-index: 99;
}

.top_header_righticon ul.menushow {
    display: block;
}

.top_header_righticon ul li {
    border-bottom: 1px solid #303030;
    padding-bottom: 5px;
    margin-bottom: 5px;

}

.top_header_righticon ul li:last-child {
    border: 0;
    padding: 0;
    margin: 0;
}

.top_header_righticon li a {
    display: block;
    cursor: pointer;
    color: #bbb;
    padding: 5px 0;
    text-decoration: none;
}

.top_header_righticon li a i {
    margin-right: 8px;
}

.top_header_righticon li a:hover {
    color: #f1d42f;
}

/* .top_header_righticon:hover.top_header_righticon ul{display: block;} */
.top_header_logowrapper img {
    max-width: 100%;
}

.top_header_logowrapper {
    width: 400px;
}


@media screen and (max-width : 991px) {
    .top_header_logowrapper {
        width: 330px;
    }
}

@media screen and (max-width : 520px) {
    .top_header_subwrapper {
        flex-direction: column;
        justify-content: center;
        padding: 10px 0;
    }

    .top_header_logowrapper {
        width: auto;
        display: block;
        margin: 0 auto;
    }

    .top_header_textwrapper {
        justify-content: center;
    }
}

/* /////////////// Backend Header */

.BackendHeaderLink {
    background: var(--read05);
    color: var(--white);
    display: block;
    padding: var(--pxvalu5);
}

.BackendHeaderLink #menu {
    display: var(--forflex);
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.BackendHeaderLink ul li {
    list-style: none;
    margin: var(--pxvalu8);
}

.BackendHeaderLink ul li a {
    color: var(--white);
    font-size: var(--font16);
    font-weight: var(--weight700);
    text-decoration: none;
    display: block;
    padding: var(--pxvalu10);
    border-radius: 5px;
}

.BackendHeaderLink ul li a:hover {
    background-color: var(--black08);
    color: var(--white);
}

.bckndActive>a {
    background-color: var(--black08);
    color: var(--white);
}

.BackendHeaderLink .show-menu {
    text-align: center;
    display: none;
    color: var(--white);
    font-size: var(--font20);
    font-weight: var(--weight700);
    text-decoration: none;
    padding: var(--pxvalu15);
}

.BackendHeaderLink .show-menu span {
    display: inline-block;
    background-color: var(--white);
    color: var(--black);
    width: 30px;
    height: 30px;
    margin-right: 10px;
    text-align: center;
    line-height: 30px;
    border-radius: 100px;
    padding: var(--pxvalu5);
    font-size: var(--font18);
}




.BackendHeaderLink input[type=checkbox] {
    display: none;
    -webkit-appearance: none;
}


@media screen and (max-width : 520px) {
    .top_header_subwrapper {
        flex-direction: column;
        justify-content: center;
        padding: 10px 0;
    }
}