<mat-progress-bar
  id="sticky_loader"
  mode="indeterminate"
  *ngIf="loader"
  class="loader"
></mat-progress-bar>
<app-header></app-header>

<div class="mainwrapper dashbordwrapper">
  <div class="new-container">
    <div class="subwrapper">
      <!-- <app-last-login-info></app-last-login-info> -->
      <div class="wrapper">
        <div class="title-wrapper1">
          <h1>MANAGE CAMPAIGN</h1>
        </div>
        <div class="step-wrapper">
          <div class="steps step1" (click)="chooseLandingpage()">
            <p>
              Step One: Create Your Campaign<i
                class="fa fa-plus-circle"
                aria-hidden="true"
              ></i>
            </p>
          </div>
          <div class="steps step2" (click)="allCampaignShow()">
            <p>
              Step Two: Copy URL <i class="fa fa-clone" aria-hidden="true"></i>
            </p>
          </div>
        </div>
        <div class="title-wrapper2"></div>
        <h1 class="heading_sub_wrp">Unreality of Death Opportunities</h1>
        <ng-container></ng-container>
        <div
          class="landing-page-wrapper"
          *ngFor="let data of campaignData; let mainIndex = index"
        >
          <!-- <h1 *ngIf="landingarraylist.betoparedes_access==0">
            Beto Predes Family Opportunities</h1> -->

          <div class="landing-page-container">
            <div class="landing-page-left">
              <div class="img-wrapper">
                <img
                  [src]="
                    data.landing_page_thumbnail?.length > 0
                      ? data.landing_page_thumbnail[0]?.imageUrl
                      : 'https://d37pbainmkhx6o.cloudfront.net/timothydesmond-assets/Placeholder_view_vector.svg'
                  "
                  loading="lazy"
                />
              </div>
            </div>
            <div class="landing-page-right">
              <div class="landing-page-right-text">
                <h2>{{ data.landing_page_name }}</h2>
                <p [innerHTML]="data.landing_page_description"></p>
              </div>

              <div class="landing-right-footer">
                <div class="copy-url-block">
                  <span
                    matTooltip="Copy URL"
                    (click)="
                      copyToClipboard(
                        selected_campaign_index[mainIndex] != null
                          ? data.campaign_url[
                              selected_campaign_index[mainIndex]
                            ]
                          : data.campaign_url[0]
                      )
                    "
                    ><i class="fa fa-chain-broken" aria-hidden="true"></i
                  ></span>
                  <a
                    ><strong *ngIf="eventValue">
                      {{ data.landing_page_domain_url }}/{{ eventValue }}
                    </strong>
                    <strong *ngIf="!eventValue">
                      {{
                        selected_campaign_index[mainIndex] != null
                          ? data.campaign_url[
                              selected_campaign_index[mainIndex]
                            ]
                          : data.campaign_url[0]
                      }}
                    </strong>
                  </a>
                </div>
                <div class="select-block">
                  <mat-form-field>
                    <mat-label class="label_wrp_main"
                      >Select Campaign</mat-label
                    >
                    <mat-select
                      [value]="data.campaign_data[0].split('##~~')[1]"
                      [(ngModel)]="data.campaign_data[0].split('##~~')[1]"
                    >
                      <ng-container
                        *ngFor="
                          let campaignData of data.campaign_data;
                          let camapign_index = index
                        "
                      >
                        <mat-option
                          (click)="selectedindex(camapign_index, mainIndex)"
                          [value]="campaignData.split('##~~')[1]"
                        >
                          {{ campaignData.split("##~~")[0] }}
                        </mat-option>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="action-block">
                  <a
                    (click)="
                      copyToClipboard(
                        selected_campaign_index[mainIndex] != null
                          ? data.campaign_url[
                              selected_campaign_index[mainIndex]
                            ]
                          : data.campaign_url[0]
                      )
                    "
                    matTooltip="Copy URL"
                    ><i class="fa-regular fa-clone fa-rotate-90 fa-2xs"></i
                  ></a>
                  <a matTooltip="QR Scanner" (click)="showQrCode(data, mainIndex)"
                    ><i class="fa fa-qrcode" aria-hidden="true"></i
                  ></a>
                  <a
                    matTooltip="Create Campaign"
                    (click)="campaignModal(data.opportunity_id)"
                    [matBadge]="
                      data.campaign_data ? data.campaign_data.length : 1
                    "
                    ><i class="fa fa-plus-circle" aria-hidden="true"></i
                  ></a>
                  <a
                    matTooltip="Click Count / Conversion Count"
                    (click)="clickConversionModal(data)"
                    ><i class="fa fa-bar-chart" aria-hidden="true"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- *********************************************** Banner Section Start*************************************************************** -->

      <div class="wrapper">
        <div class="title-wrapper1">
          <h1>MARKETING BANNERS</h1>
        </div>
        <div class="subtitle2">
          <p>
            You can select the social media banners respective to the campaign.
            You can select your campaign by choosing one from the dropdown list.
            Click the social media icons (Facebook, Twitter, Linkedin) and the
            respective campaign link will be shared on the social media
            platform. Each campaign has a unique URL for which selecting a
            campaign from the dropdown menu is mandatory. (You can find the
            dropdown list below each banner). Posting for Linkedin does not
            allow ads related to Pharmacy.
          </p>
        </div>

        <!-- (login_user_details.userinfo.has_betoparedes_access == 0 && banner.banner_name != 'Decision Doc AI') || 
           (login_user_details.userinfo.has_betoparedes_access == 0 && banner.banner_name != 'Practice2Lab - Maximize Client Practice Revenue') -->

        <div class="banner-main-wrapper" id="bannerSection">
          <div
            class="banner-marketing-mainwrapper"
            *ngFor="let banner of banner_sliced_data; let bannerIndex = index"
          >
            <div class="banner-marketing-container">
              <div class="banner-marketing-col">
                <div class="marketing-bannerwrapper">
                  <img
                    [src]="
                      banner.thumbnail.length > 0
                        ? banner.thumbnail[0].imageUrl
                        : 'https://d37pbainmkhx6o.cloudfront.net/timothydesmond-assets/Placeholder_view_vector.svg'
                    "
                    loading="lazy"
                    alt=""
                  />
                </div>
                <div class="marketing-mediawrapper new_Wraper_share">
                  <div class="marketing-sowrapper">
                    <share-buttons
                      theme="circles-dark"
                      [include]="['facebook', 'twitter', 'linkedin']"
                      [title]="banner.banner_name ? banner.banner_name : ''"
                      [autoSetMeta]="false"
                      [image]="banner.thumbnail[0].imageUrl"
                      [url]="
                        banner.campaign_url_data[
                          share_url[bannerIndex] ? share_url[bannerIndex] : 0
                        ]
                      "
                      [showText]="false"
                      id="sharebutton"
                    >
                    </share-buttons>
                    <!-- <div class="elfsight-app-2bcb9a48-eae3-4831-b513-ed489ea5816d css_hide" data-elfsight-app-lazy 
                          [title]="banner.banner_name ? banner.banner_name : ''" [autoSetMeta]="false" [image]="banner.thumbnail[0].imageUrl" [url]="share_url[bannerIndex]"
                          [showText]="false" id="sharebutton"></div> -->
                  </div>
                  <div class="marketing-select">
                    <mat-form-field>
                      <mat-label>Select Campaign</mat-label>
                      <mat-select [value]="0">
                        <ng-container
                          *ngFor="
                            let bannerCampaign of banner.campaign_data;
                            let optionIndex = index
                          "
                        >
                          <mat-option
                            (click)="
                              bannerCampaignIndex(optionIndex, bannerIndex)
                            "
                            [value]="optionIndex"
                            >{{ bannerCampaign }}</mat-option
                          >
                        </ng-container>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="load_more_wraper">
          <button
            (click)="collapseBanner()"
            [ngClass]="disable_showless ? 'showlessdisable' : 'showlessactive'"
            [disabled]="disable_showless"
          >
            Show Less
          </button>
          <button
            (click)="loadBanner()"
            [ngClass]="disable_loadmore ? 'loadmoredisable' : 'loadmoreactive'"
            [disabled]="disable_loadmore"
          >
            Load More
          </button>
        </div>
      </div>

      <!-- *********************************************** Banner Section End*************************************************************** -->

      <div class="wrapper emailtemp_wrapper">
        <div class="title-wrapper1">
          <h1>EMAIL TEMPLATES</h1>
        </div>
        <div class="subtitle2">
          <p>
            <strong>Important:</strong> Emails <strong>must</strong> only be
            sent to friends, family, and associates you know personally.
            Absolutely <strong>NO</strong> third-party lists can be used.
            Unreality of Death Partners must approve all cold outreach email
            campaigns.
          </p>
        </div>
        <div class="banner-main-wrapper">
          <div class="banner-marketing-mainwrapper">
            <div id="emailtemplate1">
              <div
                class="emailtemp_innerwrp"
                style="padding: 10px; background: #e4e7dd"
              >
                <h1 style="font-size: 20px; margin: 20px 0px 30px">
                  Unreality of Death
                </h1>
                <h2
                  style="
                    font-size: 20px;
                    margin: 0px 0px 30px;
                    line-height: 26px;
                    font-weight: 500;
                  "
                >
                  PAY NOTHING FOR THE MOST PRESCRIBED GENERIC PRESCRIPTIONS!
                </h2>
                <a
                  [href]="
                    allCampaigns[
                      emailTemplateData[0] ? emailTemplateData[0] : 0
                    ]?.campaign_url
                  "
                  style="
                    text-decoration: underline;
                    color: #1b75b2;
                    font-size: 19px;
                    word-break: break-word;
                  "
                  >{{
                    allCampaigns[
                      emailTemplateData[0] ? emailTemplateData[0] : 0
                    ]?.campaign_url
                  }}</a
                >
                <p style="font-size: 18px; margin: 15px 0px; line-height: 26px">
                  Access your pharmacy prescriptions at no cost every month for
                  one low subscription fee! Your prescriptions are shipped
                  direct to your door within 2-4 days and, if needed, can be
                  picked up at 64,000 pharmacies nationwide.
                </p>
                <a
                  [href]="
                    allCampaigns[
                      emailTemplateData[0] ? emailTemplateData[0] : 0
                    ]?.campaign_url
                  "
                  style="
                    text-decoration: underline;
                    color: #1b75b2;
                    font-size: 19px;
                    word-break: break-word;
                  "
                  >{{
                    allCampaigns[
                      emailTemplateData[0] ? emailTemplateData[0] : 0
                    ]?.campaign_url
                  }}</a
                >
              </div>
            </div>

            <div class="marketing-mediawrapper new_Wraper_share">
              <div class="marketing-sowrapper">
                <button (click)="copyEmailTemplate('emailtemplate1')">
                  Copy
                </button>
              </div>
              <div class="marketing-select">
                <mat-form-field>
                  <mat-label>Select Campaign</mat-label>
                  <mat-select [value]="allCampaigns[0]?.campaign_url">
                    <ng-container
                      *ngFor="
                        let campaigns of allCampaigns;
                        let allCampIndex = index
                      "
                    >
                      <mat-option
                        [value]="campaigns?.campaign_url"
                        (click)="emailOptionSelect(allCampIndex, 0)"
                        >{{ campaigns.campaign_name }}</mat-option
                      >
                    </ng-container>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
