.landing-page-left{width:400px}
.img-wrapper{padding:10px;background:#e4e7dd;border:1px solid #95998f}
.img-wrapper img{display:block;max-width:100%}
.landing-page-right{width:calc(100% - 440px);margin-left:40px;display:flex;flex-direction:column;justify-content:space-between;position:relative}
.landing-page-right::after{content:'';height:94%;width:1px;background:#7d8376;position:absolute;left:-20px;top:50%;transform:translateY(-50%);box-shadow:1px 0 0 #d7decc}
.landing-page-right h2{font-size:24px;margin-bottom:10px}
.landing-page-right p{font-size:18px;line-height:26px;margin-bottom:10px;overflow:hidden;display:-webkit-box;-webkit-line-clamp:2;line-clamp:2;-webkit-box-orient:vertical}
.landing-right-footer{display:flex;justify-content:space-between;align-items:center}
.landing-page-container{display:flex;background:#aeb6a2;padding:15px;border-radius:8px;border:1px solid #919787}
.landing-page-wrapper{margin-bottom:10px}
.landing-page-wrapper:last-child{margin-bottom:0}
.copy-url-block{background-color:#fff;width:50%;display:flex;border-radius:5px;box-shadow:-4px -4px 9px #c2cab7,4px 4px 7px #757c6b85;border:1px solid #dfe9d1;min-height:54px}
.copy-url-block a{font-size:18px;color:#0092cb;width:calc(100% - 70px);display:flex;align-items:center;margin-left:10px}
.copy-url-block span{width:60px;display:flex;justify-content:center;align-items:center;background:var(--color-orange-gradient);font-size:24px;color:#fff;border-radius:5px 0 66px;box-shadow:2px 2px 8px #50150342;cursor:pointer}
.copy-url-block span i:active{box-shadow:none;transform:translateY(5px)}
.copy-url-block a strong{font-weight:400;white-space:nowrap;overflow:hidden;display:block;text-overflow:ellipsis;padding-right:10px}
.copy-url-block i{position:relative;left:-7px;top:-3px;text-shadow:-3px -3px 5px #ffdcd38c,3px 3px 5px #2f0f06bf;transition:all .2s}
.action-block{width:250px;display:flex;justify-content:space-between}
.action-block a{height:50px;width:50px;display:flex;justify-content:center;align-items:center;background:var(--orange-gradient);border-radius:50%;font-size:20px;color:#fff;box-shadow:-4px -4px 9px #c2cab7,4px 4px 7px #757c6b;border:1px solid #fc8f4e;margin:5px;transition:all .2s;cursor:pointer}
.action-block a:active{box-shadow:none;transform:translateY(5px)}
.select-block{width:calc(50% - 277px);margin:0 10px 0 15px}
.select-block mat-form-field{width:100%}
.first-block{display:flex;justify-content:space-between;width:100%;align-items:center}
.first-block h2{margin:0;font-size:20px;font-weight:500!important;color:#000}
.first-block h3{margin:0;font-size:20px;font-weight:500!important;color:#000}
.first-block h4{margin:0;font-size:20px;font-weight:500!important;color:#000}
.first-block h2 strong,.first-block h3 strong,.first-block h4 strong{color:#f95745;font-weight:500}
.step-wrapper{display:flex;justify-content:space-between;flex-wrap:wrap;margin:0 -.5%;margin-bottom:15px}
.steps{flex:1 0 32.33%;text-align:center;background: #7e2e0a;margin:0 .5%;padding:15px 0;position:relative;border-radius:8px 20px 20px 8px; cursor: pointer;}
.steps::after{content:'';position:absolute;height:100%;width:40px;right:-6px;top:0;clip-path:polygon(75% 0,100% 50%,75% 100%,0 100%,0 39%,0 0);background: #7c300e;}
.steps::before{content:'';position:absolute;height:100%;width:40px;left:-11px;top:0;clip-path:polygon(100% 0,100% 50%,100% 100%,0 100%,25% 50%,0 0);background: #7c300e;}
.steps:last-child::after{display:none}
.steps:last-child{border-radius:20px 8px 8px 20px}
.steps:first-child::before{display:none}
.steps p{margin:0;font-size:24px;color:#fff;line-height:28px;text-shadow:1px 1px 0 #355d9c;padding:0 30px}
.steps .fa{margin: 5px; display: inline;}
.marketing-mediawrapper{display:flex;justify-content:space-between}
.marketing-sowrapper{display:flex;align-items:center;width:150px}
.marketing-select{width:calc(100% - 160px);margin-left:10px}
.marketing-select .mat-mdc-form-field{width:100%}
.marketing-imgwrapper img{display:block;max-width:100%}
.marketing-container{display:flex;justify-content:center;flex-wrap:wrap;margin:0 -.5%}
.marketing-col{padding:10px;background:#aeb6a2;border:1px solid #919787;border-radius:8px;flex:1 0 46%;margin:.5%}
.videopost i{font-size:79px;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);z-index:99;height:67px;width:67px;background:#fff;border-radius:50%;line-height:66px;color:#3895d8;cursor:pointer}
.videopost img{position:absolute;left:0;top:0;width:100%;height:100%}
.marketing-imgwrapper img{display:block;width:100%}
.marketing-imgwrapper{padding:10px;background:#e4e7dd;border:1px solid #95998f;margin-bottom:8px}
.marketing-videowrapper{padding:10px;background:#e4e7dd;border:10px solid #e4e7dd;margin-bottom:8px;position:relative;padding-bottom:53.25%}
.marketing-bannerwrapper{
    /* padding:10px; */
    background:#e4e7dd;
    border:10px solid #e4e7dd;
    margin-bottom:8px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-bottom:53.25% */
}
.mainwrapper{
    min-height: 80vh;
    background: #edf2f0;
    padding: 1rem 0.2rem;
}
.new-container{
    padding: 0 4rem;
    display: block;
    margin: 0 auto;
}
.subwrapper{
    background: #dae4e0;
    padding: 1.6rem;
    border-radius: 8px;
    border: 1px solid #fbfffd;
    margin: 20px 0px;
}
.wrapper{
    background: #edf3e5;
    padding: 1.5rem 2rem;
    box-shadow: 1px 1px 5px #3e413a59;
    border-radius: 6px;
    margin-bottom: 1.5rem;
    border: 1px solid #fff;
}
.mainwrapper.dashbordwrapper .landing-page-right .action-block a:nth-of-type(1) i::before{
    content:"\f24d";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit
}
.marketing-videowrapper embed,.marketing-videowrapper iframe,.marketing-videowrapper video{position:absolute;left:0;top:0;height:100%;width:100%}
.marketing-sowrapper a{height:45px;width:45px;border-radius:50%;display:flex;align-items:center;justify-content:center;margin-right:7px;color:#fff;font-size:22px;cursor:pointer;transition:all .2s}
.marketing-sowrapper a:active{transform:translateY(5px)}
.marketing-sowrapper a:last-child{margin-right:0}
.facebook{background-color:#3b5998;box-shadow:inset 5px 5px 10px #2e4577,inset -5px -5px 10px #2e4577,-4px -4px 9px #c2cab7,4px 4px 7px #757c6b}
.twitter{background-color:#55acee;box-shadow:inset 5px 5px 10px #4891c9,inset -5px -5px 10px #4891c9,-4px -4px 9px #c2cab7,4px 4px 7px #757c6b}
.linkedin{background-color:#0077b5;box-shadow:inset 5px 5px 10px #026599,inset -5px -5px 10px #026599,-4px -4px 9px #c2cab7,4px 4px 7px #757c6b}
.banner-marketing-mainwrapper{
  border-radius: 10px;
   /* width: 100%; */
   padding: 10px;
   background-color: #aeb6a2;
   margin-bottom: 20px;
  

}

.marketing-bannerwrapper img{
 width: 100%;
 height: 100%;
}

.banner-main-wrapper{
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-between;
    
    padding: 20px 20px 0 20px;

}
.banner_loop{
    width: 45%;
}

.banner-main-wrapper .ng-star-inserted{
    width: 49.3%;
}
.marketing-select .ng-star-inserted{
    width: 100%;
}
 .ndfHFb-c4YZDc-Wrql6b {
    display: none;
    opacity: 0 !important;
    border: 5px solid black;
}

.title-wrapper1{
    border-left: 5px solid #aeb6a2;
    padding-left: 5px;
    
}

.load_more_wraper{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.load_more_wraper button{
    margin: 7px;
}
.load_more_wraper .loadmoredisable{
    background:gray ;
    border: none;
    outline: none;
    font-size: 22px;
    font-weight: 500;
    padding: 10px;
    color: white;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0,.5);
    border-radius: 5px;
    display: none;
}

.load_more_wraper .loadmoreactive{

    background:var(--blue-gradient) ;
    border: none;
    outline: none;
    font-size: 22px;
    font-weight: 500;
    padding: 10px;
    color: white;
    cursor: pointer;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0,.5);
    border-radius: 5px;

}


.load_more_wraper .showlessdisable{
    background:gray ;
    border: none;
    outline: none;
    font-size: 22px;
    font-weight: 500;
    padding: 10px;
    color: white;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0,.5);
    margin-left: 20px;
    border-radius: 5px;
    display: none;
}

.load_more_wraper .showlessactive{

    background:var(--blue-gradient) ;
    border: none;
    outline: none;
    font-size: 22px;
    font-weight: 500;
    padding: 10px;
    color: white;
    cursor: pointer;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0,.5);
    border-radius: 5px;

}

.productAssetActive{
    background:var(--blue-gradient) ;
    border: none;
    outline: none;
    font-size: 22px;
    font-weight: 500;
    padding: 10px;
    color: white;
    cursor: pointer;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0,.5);
    margin-left: 20px;
    border-radius: 5px;

}

.file_wraper{
    display: flex;
    flex-wrap: wrap;
    
}

.file_wraper .marketing-container{
    width: 47.9%;
    height: 300px;
    margin: 20px;
    margin-top: 50px;
    border: 2px solid green;
}
.file-col{
   
   height: 400px;
  overflow: hidden;
  padding: 20P;
   
}
.marketing-file_doc{
    width: 100%;
    height: 100%;
    border: 5PX solid black;
}


 .marketing-file{
   
    position: relative;
    height: 100%;
}

.product_header{
    text-align: center;
    background-color: #edf3e5;
    padding: 5px 20px 5px 20px;
    word-break: break-all;

}
.file_item_container{
    position: relative;
}

.videopalybutton{
    z-index: 99999999 !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 50px;
    height: 50px;
    width: 50px;
    color: #0077b5;
    
}
.marketing-videowrapper{
    position: relative;
}
.video-mainwrapper{
  
    /* background-color: #aeb6a2; */
    margin-bottom: 20px;
}
.video-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    
}
.video-col{
    margin-bottom: 20px;
   
    width: 47.9%;
    padding: 10px;
    background-color: #AEB6A2;
    border-radius: 10px;
}
.video_header{
    
    text-align: center;
    background-color: #edf3e5;
    padding: 5px 20px 5px 20px;
    word-break: break-all;
}
.videosection{
   
    width: 100%;
}
.videosection video{
    width: 100%;
}

.product_button_wraper{
    position: absolute;
    right: 20px;
    top: 10px;
    
}
.product_button_wraper button{
    border-radius: 50%;
    padding: 10px;
    background-color: #dbf0e6;
    color: #AEB6A2;
    border: none;
    cursor: pointer;
}

.product_button_wraper i{
  font-size: 20px;
}


/* Deep Sarkar */

.new_Wraper_share .marketing-select{
    width: calc(90% - 150px);
}
.new_Wraper_share .marketing-sowrapper{
    width: auto;
}





@media only screen and (max-width:1666px){
.action-block a{margin:2px}
.action-block{width:225px}
.select-block{width:220px;margin:0 10px 0 15px}
.copy-url-block{width:calc(100% - 472px)}
}
@media only screen and (max-width:1440px){
.landing-right-footer{flex-wrap:wrap}
.copy-url-block{width:calc(100%);margin-bottom:10px}
.select-block{width:calc(100% - 236px);margin:0 10px 0 0}
.landing-page-right{width:calc(100% - 480px)}
.landing-page-left{width:440px}
}
@media only screen and (max-width:1199px){
.landing-page-container{flex-wrap:wrap}
.landing-page-left{width:100%}
.landing-page-right{width:calc(100%);margin-left:0;margin-top:30px}
.landing-page-right::after{height:1px;width:100%;left:0;top:-12px;transform:inherit;box-shadow:1px 1px 0 #d7decc}
}
@media only screen and (max-width:767px){
.select-block{width:calc(100%);margin:0 0 10px 0}
.action-block{width:100%;justify-content:center}
.marketing-mediawrapper{flex-wrap:wrap;flex-direction:column-reverse}
.marketing-select{width:calc(100%);margin-left:0;margin-bottom:10px}
.marketing-sowrapper{width:100%;justify-content:center}
}
.wrapper .heading_sub_wrp{
    border-left: 5px solid #aeb6a2;
    padding-left: 5px;
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 500;
}
