<app-header></app-header>

<div class="mainwrapper dashbordwrapper">
    <div class="new-container">
        <div class="subwrapper">
        <!-- <app-last-login-info></app-last-login-info> -->
            <div class="wrapper">
                <div class="title-wrapper1">
                    <h2>MANAGE CAMPAIGN</h2>
                </div>
                <div class="step-wrapper">
                    <div class="steps step1">
                        <p>Step One: Create Your Campaign<i class="fa fa-plus-circle" aria-hidden="true"></i>
                        </p>
                    </div>
                    <div class="steps step2">
                        <p>Step Two: Copy URL <i class="fa fa-clone" aria-hidden="true"></i>
                        </p>
                    </div>
                </div>
                <div class="title-wrapper2"></div>
                <h1 class="heading_sub_wrp">
                    Beto Paredes Family Opportunities</h1>
                <div class="landing-page-wrapper">
                    <!-- <h1 *ngIf="landingarraylist.betoparedes_access==0">
            Beto Predes Family Opportunities</h1> -->
                    

                    <div class="landing-page-container">
                        <div class="landing-page-left">
                            <div class="img-wrapper">
                                <img src="https://all-frontend-assets.s3.amazonaws.com/divine-infinity-being/social-advo-audio/1694496008184DecisionDocAI.jpg"/>
                            </div>
                        </div>
                        <div class="landing-page-right">
                            <div class="landing-page-right-text">
                                <h2>Decision Doc AI </h2>
                                <p>Boost Patient Outcomes, Get Invaluable Support, Improve Patient Outcomes, And Enhance Medical Practice’s Overall Efficiency And Quality.</p>
                            </div>

                            <div class="landing-right-footer">
                                <div class="copy-url-block">
                                    <span><i class="fa fa-chain-broken" aria-hidden="true"></i></span>
                                    <a><strong>
                                        </strong></a>
                                </div>
                                <div class="select-block">
                                    <!-- <span>{{(landingarraylist.campaign_name_arr | json)}} campaign_id ,rep_url_arr</span> -->
                                    <!-- <span>ddd {{landingarraylist.campaign_id}}<br /> ffff-{{landingarraylist|json}}</span> -->


                                    <mat-form-field>
                                        <mat-label class="label_wrp_main">Select Campaign</mat-label>
                                        <mat-select>
                                            <ng-container>
                                                <mat-option>

                                                </mat-option>
                                            </ng-container>
                                        </mat-select>
                                    </mat-form-field>


                                </div>
                                <div class="action-block">
                  <a matTooltip="Copy Url"><i class="fa-regular fa-clone fa-rotate-90 fa-2xs"></i></a>
                  <a matTooltip="QR Scanner"><i
                      class="fa fa-qrcode" aria-hidden="true"></i></a>
                  <a matTooltip="Create Campaign" ><i
                      class="fa fa-plus-circle" aria-hidden="true"></i></a>
                  <a matTooltip="Click Count / Conversion Count"><i
                      class="fa fa-bar-chart" aria-hidden="true"></i></a>
                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="landing-page-wrapper">
                    <!-- <h1 *ngIf="landingarraylist.betoparedes_access==0">
            Beto Predes Family Opportunities</h1> -->
                    

                    <div class="landing-page-container">
                        <div class="landing-page-left">
                            <div class="img-wrapper">
                                <img src="https://all-frontend-assets.s3.amazonaws.com/divine-infinity-being/social-advo-audio/1694496008184DecisionDocAI.jpg"/>
                            </div>
                        </div>
                        <div class="landing-page-right">
                            <div class="landing-page-right-text">
                                <h2>Decision Doc AI </h2>
                                <p>Boost Patient Outcomes, Get Invaluable Support, Improve Patient Outcomes, And Enhance Medical Practice’s Overall Efficiency And Quality.</p>
                            </div>

                            <div class="landing-right-footer">
                                <div class="copy-url-block">
                                    <span><i class="fa fa-chain-broken" aria-hidden="true"></i></span>
                                    <a><strong>
                                        </strong></a>
                                </div>
                                <div class="select-block">
                                    <!-- <span>{{(landingarraylist.campaign_name_arr | json)}} campaign_id ,rep_url_arr</span> -->
                                    <!-- <span>ddd {{landingarraylist.campaign_id}}<br /> ffff-{{landingarraylist|json}}</span> -->


                                    <mat-form-field>
                                        <mat-label class="label_wrp_main">Select Campaign</mat-label>
                                        <mat-select>
                                            <ng-container>
                                                <mat-option>

                                                </mat-option>
                                            </ng-container>
                                        </mat-select>
                                    </mat-form-field>


                                </div>
                                <div class="action-block">
                  <a matTooltip="Copy Url"><i class="fa-regular fa-clone fa-rotate-90 fa-2xs"></i></a>
                  <a matTooltip="QR Scanner"><i
                      class="fa fa-qrcode" aria-hidden="true"></i></a>
                  <a matTooltip="Create Campaign" ><i
                      class="fa fa-plus-circle" aria-hidden="true"></i></a>
                  <a matTooltip="Click Count / Conversion Count"><i
                      class="fa fa-bar-chart" aria-hidden="true"></i></a>
                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="landing-page-wrapper">
                    <!-- <h1 *ngIf="landingarraylist.betoparedes_access==0">
            Beto Predes Family Opportunities</h1> -->
                    

                    <div class="landing-page-container">
                        <div class="landing-page-left">
                            <div class="img-wrapper">
                                <img src="https://all-frontend-assets.s3.amazonaws.com/divine-infinity-being/social-advo-audio/1694496008184DecisionDocAI.jpg"/>
                            </div>
                        </div>
                        <div class="landing-page-right">
                            <div class="landing-page-right-text">
                                <h2>Decision Doc AI </h2>
                                <p>Boost Patient Outcomes, Get Invaluable Support, Improve Patient Outcomes, And Enhance Medical Practice’s Overall Efficiency And Quality.</p>
                            </div>

                            <div class="landing-right-footer">
                                <div class="copy-url-block">
                                    <span><i class="fa fa-chain-broken" aria-hidden="true"></i></span>
                                    <a><strong>
                                        </strong></a>
                                </div>
                                <div class="select-block">
                                    <!-- <span>{{(landingarraylist.campaign_name_arr | json)}} campaign_id ,rep_url_arr</span> -->
                                    <!-- <span>ddd {{landingarraylist.campaign_id}}<br /> ffff-{{landingarraylist|json}}</span> -->


                                    <mat-form-field>
                                        <mat-label class="label_wrp_main">Select Campaign</mat-label>
                                        <mat-select>
                                            <ng-container>
                                                <mat-option>

                                                </mat-option>
                                            </ng-container>
                                        </mat-select>
                                    </mat-form-field>


                                </div>
                                <div class="action-block">
                  <a matTooltip="Copy Url"><i class="fa-regular fa-clone fa-rotate-90 fa-2xs"></i></a>
                  <a matTooltip="QR Scanner"><i
                      class="fa fa-qrcode" aria-hidden="true"></i></a>
                  <a matTooltip="Create Campaign" ><i
                      class="fa fa-plus-circle" aria-hidden="true"></i></a>
                  <a matTooltip="Click Count / Conversion Count"><i
                      class="fa fa-bar-chart" aria-hidden="true"></i></a>
                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>