<button mat-dialog-close class="close-btn-modal" mat-raised-button matTooltip="Close"
    matTooltipPosition="below"><mat-icon>close</mat-icon></button>

<div class="dialoghead campaign_modalwrp">
    <h1 class="mat-mdc-dialog-title">
        Click / Conversion Report
    </h1>
    <div class="count_value_wrp">
        <h4>Total Click Count:<span> {{reportCounts.click}}</span></h4>
        <h4>Total Conversion Count:<span> {{reportCounts.convert}}</span></h4>
      </div>

      <!-- <div class="dashboard_piechartwrp">
        <h2 class="piechart_heading">
          Click and Conversion Report in Pie Chart View
        </h2>
        <div class="piechart_wrapper">
          <div class="clickchart_wrapper">
            <app-pie-chart
            [chartConfigInput]="{id: 1}"
            ></app-pie-chart>
          </div>
          <div class="conversionchart_wrapper">
            <app-pie-chart [chartConfigInput]="{id: 2}"></app-pie-chart>
          </div>
        </div>
      </div> -->
    <div class="inner_sub_wrp">
        <button [ngClass]="colorcode ? 'colorcode' :'count_button_wrp'" (click)="fetchReports('click')">CLICK
          DETAILS</button>
        <button [ngClass]="colorcode ? 'count_button_wrp' :'colorcode'" (click)="fetchReports('conversion')">CONVERSION
          DETAILS</button>
      </div>
    <mat-dialog-content>
        <app-report-list
        [opportunity_details_input]="data.opportunity_data"
        [listType]="currentButtonVal"
        ></app-report-list>
    </mat-dialog-content>
</div>